* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #E4D7D0;
    color: #0A4158;
    width: 80%;
    height:90%;
  }
  h1 {
    font-size: 5rem;
    color: rosybrown;
    line-height: .8;
    margin: 3rem 0 1rem;
    text-align:center;
    font-weight: bolder;
    
  }

  main {
    width: 1024px;
    margin: 1rem auto;
    
  }
  
  

  section {
    
    background-color: #4B8378;
    padding: 4rem;
    display: flex;
    justify-content: space-around; 
  }

  section img {
    width: 350px;
    max-height: 20rem;
    border: 4px solid transparent;
  }

  section img:hover {
    border: 5px solid #FF9636;
    cursor: pointer;
  }

  section.no-voting img:hover {
    border: 4px solid transparent;
    cursor: none;
  }

  ul {
    margin: 1rem;
  }
  li {
    margin: .7rem;
    font-weight: bold;
    text-align: center;
  }

  button {
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: #FF9636;
    background-color: #0A4158;
    border-radius: 4rem;
    cursor: pointer;
    align-items: center;

  }
